:root{
    --primario: #9c27b0;
    --primariooscuro: #891190;
    --secundario: #ffce00;
    --secundarioOscuro: rgb(233,287,2);
    --blanco: #fff;
    --negro: #000;

    --fuenteprincipal: 'Staatliches', cursive;
}


html {/*Sniped*/
    box-sizing: border-box;
    font-size: 62.5%;/*1rem = 10px*/
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }


  /*Globales*/
body{
    background-color: var(--primario);/*Color de fondo*/
    font-size: 1.6rem;/*tamaño de letra*/
    line-height: 1.5;/*Distancia entre lineas interlineado*/
}
p{
    font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--blanco);
}
a{
    text-decoration: none;/*quitar la linea*/
}
img{
    max-width: 100%;/*Ancho*/
}
.contenedor{
    max-width: 120rem;
    margin: 0 auto;/*Centar el contenido*/
}
h1, h2, h3{
    text-align: center;
    color: var(--secundario);
    font-family: var(--fuenteprincipal);/*Fuente*/
}
h1{
    font-size: 4rem;/*Tamaño Fuente*/
}
h2{
    font-size: 3.2rem;/*Tamaño Fuente*/
}
h3{
    font-size: 2.4rem;/*Tamaño Fuente*/
}

/*Header*/
.header{
    display: flex;/*Habilita flexbox*/
    justify-content: center;/*Centra el contenido*/
}
.header__logo{
    margin: 3rem 0;/*Margen arriba,abajo 3 margen lados 0*/
}

/*Footer*/
.footer{
    background-color: var(--primariooscuro);
    padding: 1rem 0;
    margin-top: 2rem;/*Separacion Arriba*/
}
.footer__texto{
    font-family: var(--fuenteprincipal);/*Fuente*/
    text-align: center;/*Centra el texto*/
    font-size: 2.2rem;/*Tamaño Fuente*/
}

/*Navegacion*/
.navegacion{
    background-color: var(--primariooscuro);
    padding: 1rem 0;/*Padding arriba,abajo 3 margen lados 0*/
    display: flex;/*Habilita flexbox*/
    justify-content: center;/*Centra el contenido*/
    gap: 2rem;/*Separacion entre botones*/
}
.navegacion__enlace{
    font-family: var(--fuenteprincipal);/*Fuente*/
    color: var(--blanco);/*Color Fuente*/
    font-size: 30px;/*Tamaño de letra*/
}
.navegacion__enlace--activo,
.navegacion__enlace:hover{
    color: var(--secundario);/*Color Fuente puntero sobre boton*/
}
/*Grid*/
.grid{
    display: grid;/* habilito Grid*/
    grid-template-columns: repeat(2, 1fr);/* 2 columnas de una fraccion*/
    column-gap: 2rem;/* Separacion de columnas*/
    row-gap: 2rem;/* Separacion de filas*/
}
@media (min-width: 768px) {
    .grid{
        grid-template-columns: repeat(3, 1fr);/* 3 columnas de una fraccion*/
    }
}
/*Productos*/
.producto{
    background-color: var(--primariooscuro);
    padding: 1rem;
}
.producto__imagen{
    width: 100%;/*Ancho del contenido*/
}
.producto__nombre{
    font-size: 4rem;/*Tamaño de la fuente*/
}
.producto__precio{
    font-size: 2.8rem;/*Tamaño de la fuente*/
    color: var(--secundario);
}
.producto__nombre,
.producto__precio{
    font-family:var(--fuenteprincipal) ;/*fuente*/
    margin: 1rem 0;/*1 rem arriba abajo y 0 a los lados*/
    text-align: center;/*Centra el texto*/
    line-height: 1.2;/*Interlineado*/
}

/*Graficos*/
.grafico{
    min-height: 30rem;
    background-repeat: no-repeat;/*para que no se repita la imagen*/
    background-size: cover;/*Imagen ocupa todo el espacio disponible*/
}
.grafico--camisas{
    grid-row: 2/3;/*posicion de fila 2 a la 3 */
    grid-column: 1/3;/*posicion de fila 1 a la 3 */
    background-image: url(../img/grafico1.jpg);
    width: auto;
}
.grafico--node{
    background-image: url(../img/grafico2.jpg);
    grid-column: 1/3;/*posicion de fila 1 a la 3 */
    grid-row: 8/9;/*posicion de fila 5 a la 6 */
}
@media (min-width: 768px) {
    .grafico--node{
        grid-column: 2/4;/*posicion de fila 2 a la 4 */
        grid-row: 5/6;/*posicion de fila 5 a la 6 */
    }
}

/**Nosotros**/
.nosotros{
    display: grid;
    grid-template-rows: repeat(2, auto);
}
@media (min-width: 768px) {
    .nosotros{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
    }
}

.nosotros__contenido{
    
}
.nosotros__imagen{
    grid-row: 1/2;
    width: 100%;
}
@media (min-width: 768px) {
    .nosotros__imagen{
        grid-column: 2/3;
    }
}